# IntelliJ
/out/
.idea
.iml

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

/node_modules/
/npm-debug.log
package-lock.json
/build/prod/assets
/build/dev/
/build/bin
/.awcache/
/lib/
/debug.log
/tmp/
