<!DOCTYPE html>
<html>
<head>
    <title>Emoji Tools</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>

    <base href="./"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Roboto:300,400|Ubuntu"
          rel="stylesheet">

    <% //noinspection NodeModulesDependencies,JSUnresolvedVariable
    if(htmlWebpackPlugin.options.dev) { %>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="http://localhost:9000/webpack-dev-server.js"></script>
    <% } %>

</head>

<body>

<et-app>
</et-app>

</body>

</html>
